<mat-toolbar color="primary" class="header">

    <span>
      <a routerLink="/">
        <img class="logo" src="assets/logo2.png" alt="logo" />
      </a>
    </span>
    <span class="title-group">
      <a routerLink=""> Star Wars </a>
    </span>

     <span>
      <a routerLink="/">
        <i class="material-icons"> theaters </i>
        Filmes
      </a>
    </span>
    <span>
      <a routerLink="/personagens">
        <i class="material-icons"> person </i>
        Personagens
      </a>
    </span>

</mat-toolbar>
