body, html{
  height: 0%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: black ;
}

.filmes-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 60vw;
  margin: 0 auto;
}
.card {
  display: grid;
  flex: 1 1 300px ;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  max-width: 300px;
  max-height: 300px;
  margin: 20px;
  padding: 0 0 0 0;
  background-color: black;
  color: white;

}

.card img {
  margin: 0 0 0 0;
  width: 100%;
}
.card button {
  align-self: center;
  color: white;

}
.card mat-card-actions {
  padding-top: 0;
}
.card mat-card-subtitle {
  margin-bottom: 5px;
}
.card mat-card-header {
  margin-top: 10px;
}
